@import url("https://fontes.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Configurations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que os paddings, margin sejam aplicados na caixa do elemento */

  font-size: 62.5%;
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
}
:root {
  --text-color: black;
  --header-bg: white;
  --text-blue: #3b82f6;
  --body-bg: #fbfaff;

  --secundary-body-bg: #efefef;
}
.dark {
  --text-color: white;
  --header-bg: #081b29;
  --text-blue: #51cfdf;
  --body-bg: #081b29;

  --secundary-body-bg: #112e42;
}

/* Header */
.header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  top: 0;
  left: 0;

  padding: 2rem 10%;

  background: var(--header-bg);

  z-index: 100;

  transition: 0.3s;
}
.header.sticky {
  background: var(--header-bg);
}
/* Logo */
.logo {
  position: relative;
  font-size: 2.5rem;

  color: var(--text-color);

  font-family: "Lilita One", cursive;
  text-decoration: none;
}
.logo::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--header-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
/* Navbar */
.navbar {
  display: flex;

  align-items: center;
  gap: 3.5rem;
}
.navbar a {
  position: relative;

  text-decoration: none;

  font-size: 1.8rem;
  font-weight: 500;

  transition: 0.3s;

  color: var(--text-color);
}
.navbar a:hover,
.navbar a.active {
  cursor: pointer;

  color: var(--text-blue);
}
.navbar a::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--header-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 3s;

  z-index: 2;
}
#hamburger-menu {
  display: none;
}
.btn-theme span {
  position: relative;

  font-size: 3rem;

  color: var(--text-color);
}
.btn-theme span::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--header-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 3s;

  z-index: 2;
}
.sun-span {
  display: none;
}
.btn-theme-click span {
  font-size: 3rem;

  color: var(--text-color);
}
.btn-theme-click span::before {
  content: none;
}
/* Diviser */
hr {
  opacity: 30%;
}
/* Responsibe theme button */
.responsive-btn-theme {
  display: none;
}
/* Sections */
section {
  min-height: 100vh;
}

/*===== HOME SECTION =====*/
.home {
  display: flex;

  width: 100%;

  align-items: center;

  background: var(--body-bg);

  padding: 0 10%;
}
.home-content {
  display: flex;

  align-items: center;

  padding: 0 0;

  justify-content: space-between;
}
.home-resume {
  display: flex;
  flex-direction: column;
}
.home-resume h1 {
  position: relative;

  font-size: 6rem;
  font-weight: 700;

  line-height: 1.2;

  color: var(--text-color);
}
.home-resume h1::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-resume h3 {
  position: relative;

  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-blue);

  padding: 0 0 1rem 0;
}
.home-resume h3::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}
.home-resume p {
  position: relative;

  font-size: 1.8rem;
  text-align: justify;

  margin: 2rem 0 4rem;

  color: var(--text-color);

  width: 50%;
}
.home-resume p::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}
/* Contact-me */
.home-content .btn-box {
  position: relative;

  width: 15rem;
  height: 5rem;
}
.home-content .btn-box::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;

  z-index: 2;
}
.btn-box a {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 15rem;
  height: 100%;

  background: transparent;

  border: 2px solid var(--text-blue);
  border-radius: 0.8rem;

  font-size: 1.9rem;
  font-weight: 600;
  color: var(--text-blue);

  text-decoration: none;
  letter-spacing: 0.1rem;

  z-index: 1;

  overflow: hidden;
}
.btn-box a:hover {
  color: #ededed;
}
.btn-box a::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  background: var(--text-blue);

  z-index: -1;

  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}
/* Social medias */
.home-sci {
  position: absolute;

  display: flex;
  justify-content: space-between;

  bottom: 4rem;
  width: 22rem;
}
.home-sci::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;

  z-index: 2;
}
.home-sci a {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 6rem;
  height: 6rem;

  background: transparent;

  border: 0.2rem solid var(--text-blue);
  border-radius: 50%;

  font-size: 4rem;
  color: var(--text-blue);

  text-decoration: none;

  z-index: 1;

  overflow: hidden;

  transition: 0.5s;
}
.home-sci a:hover {
  color: #ededed;
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  background: var(--text-blue);
  z-index: -1;

  transition: 0.5s;
}
.home-sci a:hover::before {
  width: 100%;
}
/* Avatar */
.avatar {
  position: relative;
}
.avatar::after {
  content: "";
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background: var(--body-bg);

  animation: showRight 1s ease forwards;
  animation-delay: 3s;

  z-index: 2;
}
.avatar img {
  height: 80rem;
  width: 80rem;
}

/* ===== ABOUT SECTION ===== */
.about-section {
  padding: 0 10%;

  background: var(--secundary-body-bg);
}
.about {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 10rem 0 0;
}
.about-text {
  display: flex;
  gap: 2rem;
}
.about-text .h1-about {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-color);
}
.about-text .h1-me {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-blue);
}
.about h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-blue);

  text-align: center;
}
.about p {
  font-size: 1.8rem;
  color: var(--text-color);

  text-align: center;
  padding: 1.5rem 25%;
}
/* Avatar */
.about-avatar {
  display: flex;
  justify-content: center;
}
.about-avatar img {
  height: 50rem;
  width: 50rem;
}
/* Read more */
.btn-read-more {
  display: flex;
  justify-content: center;
}
.btn-read-more span {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 15rem;
  height: 5rem;

  background: transparent;

  border: 2px solid var(--text-blue);
  border-radius: 0.8rem;

  font-size: 1.9rem;
  font-weight: 600;
  color: var(--text-blue);

  text-decoration: none;
  letter-spacing: 0.1rem;

  z-index: 1;

  overflow: hidden;
}
.btn-read-more span:hover {
  color: #ededed;

  cursor: pointer;
}
.btn-read-more span::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  background: var(--text-blue);

  z-index: -1;

  transition: 0.5s;
}
.btn-read-more span:hover::before {
  width: 100%;
}

/* ===== EDUCATION SECTION ===== */
.education-section {
  padding: 0 10%;

  background: var(--body-bg);
}
.education {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 10rem 0 0;
}
.education-text {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.education-text .h1-my {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-color);
}
.education-text .h1-certificates {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-blue);
}
.education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  padding-top: 10rem;
}
.education-row .education-column {
  flex: 1 1 40rem;
}
.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;

  color: var(--text-color);
}
.education-column .education-box {
  border-left: 0.2rem solid var(--text-blue);
}
.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--text-blue);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.education-content .content .header-content {
  display: flex;
  justify-content: space-between;
}
.education-content .content .header-content .year,
.education-content .content .header-content .link i {
  font-size: 1.5rem;
  color: var(--text-blue);
  padding-bottom: 0.5rem;
}
.education-content .content .header-content .year i {
  padding-right: 0.5rem;
  font-size: 1.3rem;
}
.education-content .content .header-content .link i {
  padding-right: 0.5rem;
  font-size: 1.3rem;
}
.education-content .content h3 {
  font-size: 2rem;

  color: var(--text-color);
}
.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;

  color: var(--text-color);
}
.education-content .content span {
  font-size: 1.6rem;
  padding-top: 0.5rem;

  color: var(--text-blue);
}

/* ===== EXPERIENCE SECTION ===== */
.experience-section {
  padding: 0 10%;

  background: var(--secundary-body-bg);
}
.experience {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 10rem 0 0;
}
.experience-text {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.experience-text .h1-my {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-color);
}
.experience-text .h1-certificates {
  font-size: 6rem;
  font-weight: 700;

  color: var(--text-blue);
}
.experience-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  padding-top: 10rem;
}
.experience-row .experience-column {
  flex: 1 1 40rem;
}
.experience-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;

  color: var(--text-color);
}
.experience-column .experience-box {
  border-left: 0.2rem solid var(--text-blue);
}
.experience-box .experience-content {
  position: relative;
  padding-left: 2rem;
}
.experience-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--text-blue);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}
.experience-content .content .year {
  font-size: 1.5rem;
  color: var(--text-blue);
  padding-bottom: 0.5rem;
}
.experience-content .content .year i {
  padding-right: 0.5rem;
  font-size: 1.3rem;
}
.experience-content .content h3 {
  font-size: 2rem;

  color: var(--text-color);
}
.experience-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;

  color: var(--text-color);
}
.experience-content .content span {
  font-size: 1.6rem;
  padding-top: 0.5rem;

  color: var(--text-blue);
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* ===== SMARTPHONES ===== */
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }

  /* Header */
  .header {
    display: flex;
    flex-direction: column;
  }

  /* Navbar */
  .navbar-responsive {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  .navbar {
    display: none;
    flex-direction: column;

    padding: 2rem 0;
  }
  .navbar a {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0.5rem 0;
    margin: 0;
  }
  .navbar a::before {
    content: none;
  }
  #hamburger-menu {
    display: block;

    color: var(--text-color);
  }
  .btn-theme {
    display: none;
  }

  /* Responsibe theme button */
  .responsive-sun-span {
    display: none;
  }
  .responsive-btn-theme {
    position: fixed;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    right: 3rem;
    bottom: 3rem;

    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    background: var(--text-blue);
  }
  .responsive-btn-theme span {
    font-size: 4rem;

    color: var(--header-bg);
  }

  /* ===== HOME SECTION ===== */
  .home {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .home-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding: 0;
  }
  .home-resume h1 {
    font-size: 4rem;

    text-align: center;
    color: var(--text-color);
  }
  .home-resume h3 {
    font-size: 2rem;

    text-align: center;
    padding: 0 0 1rem 0;
  }
  .home-resume p {
    font-size: 1.5rem;

    text-align: center;
    padding: 0;
    margin: 0;

    width: 100%;

    color: var(--text-color);
  }
  .btn-box {
    position: static;

    margin: 2rem auto;
  }
  .avatar img {
    height: 36rem;
    width: 36rem;
  }
  .home-sci {
    display: flex;
    position: static;
  }

  /* ===== ABOUT SECTION ===== */
  .about-text .h1-about,
  .about-text .h1-me {
    font-size: 5rem;
  }
  .about h3 {
    font-size: 2.8rem;
  }
  .about p {
    font-size: 1.5rem;

    padding: 1.5rem 0;
  }
  .about-avatar img {
    height: 36rem;
    width: 36rem;
  }

  /* ===== EDUCATION SECTION ===== */
  .education .education-text h1 {
    font-size: 3rem;
  }
  .education-row {
    padding-top: 6rem;
  }

  /* ===== EXPERIENCE SECTION ===== */
  .experience .experience-text h1 {
    font-size: 3rem;
  }
  .experience-row {
    padding-top: 6rem;
  }
}

/* ===== TABLETS ===== */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Header */
  .header {
    display: flex;
    flex-direction: column;
  }

  /* Navbar */
  .navbar-responsive {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
  .navbar {
    display: none;
    flex-direction: column;

    padding: 2rem 0;
  }
  .navbar a {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0.5rem 0;
    margin: 0;
  }
  .navbar a::before {
    content: none;
  }
  #hamburger-menu {
    display: block;

    color: var(--text-color);
  }
  .btn-theme {
    display: none;
  }

  /* Responsibe theme button */
  .responsive-sun-span {
    display: none;
  }
  .responsive-btn-theme {
    position: fixed;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    right: 3rem;
    bottom: 3rem;

    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    background: var(--text-blue);
  }
  .responsive-btn-theme span {
    font-size: 4rem;

    color: var(--header-bg);
  }

  /* ===== HOME SECTION ===== */
  .home {
    display: flex;
    flex-direction: column;
  }
  .home-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding: 2rem 5rem 1rem;
  }
  .home-resume {
    display: flex;
    flex-direction: column;
  }
  .home-resume h1 {
    font-size: 4rem;

    text-align: center;
    color: var(--text-color);
  }
  .home-resume h3 {
    font-size: 2rem;

    text-align: center;
  }
  .home-resume p {
    font-size: 2rem;

    margin: 0;
    padding: 1rem 0;

    width: 100%;

    text-align: center;
    color: var(--text-color);
  }
  .avatar img {
    width: 35rem;
    height: 35rem;
  }
  .btn-box {
    margin: 1rem auto;
  }
  .home-sci {
    position: static;

    display: flex;
    justify-content: center;
    gap: 3rem;

    /* width: 6rem;
    height: 6rem; */
  }

  /* ===== ABOUT SECTION ===== */
  .about-text .h1-about,
  .about-text .h1-me {
    font-size: 4rem;
  }

  .about p {
    padding: 1.5rem 0;
  }

  .about-avatar img {
    width: 35rem;
    height: 35rem;
  }
}

/* ===== IPADS ===== */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Navbar */
  #hamburger-menu {
    display: none;
  }

  /* ===== HOME SECTION ===== */
  .home {
    display: flex;

    flex-direction: column;
  }
  .home-content {
    padding: 10rem 0 0 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .home-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-resume h1 {
    font-size: 7rem;
  }
  .home-resume h3 {
    align-items: center;

    margin: 0 0 0.5rem 0;
    padding: 0;

    font-size: 4rem;
  }
  .home-resume p {
    margin: 0 0 3rem 0;
    padding: 0 5%;

    text-align: center;

    font-size: 3rem;
    width: 100%;
  }
  .btn-box {
    margin: 0 0 3rem 0;
  }
  .avatar img {
    height: 60rem;
    width: 60rem;
  }
  .home-sci {
    position: static;
  }

  /* ===== ABOUT SECTION ===== */
  .about-section {
    height: 100vh;
  }
  .about-text .h1-about,
  .about-text .h1-me {
    font-size: 7rem;
  }
  .about h3 {
    font-size: 4rem;
  }
  .about p {
    font-size: 3rem;

    padding: 2rem 0;
    width: 100%;
  }

  .about-avatar img {
    height: 60rem;
    width: 60rem;
  }
}
